<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>About <%= title %> Page</h1>
  <p>
    <a href='/'>Go to Home Page</a>
    <br>
    <a href='/user/456'>View User Profile</a>
  </p>
</body>
</html>